<html>
    <body>
        <form action="/admin" method="post">
            <input type="text" placeholder="Enter Secret Key" name="pass" required>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>