<html>
    <body>
        <form action="/delete?id=<%=source%>" method="post">
            <p><strong>Delete this message?</strong></p>
            <button type="submit">Yes</button>
            <button><a href="/">No</a></button>
        </form>
    </body>
</html>