<html>
    <body>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="username" required>
            <input type="password" name="password" placeholder="password" required>
            <button type="submit">Log In</button>
        </form>
    </body>
</html>